<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>VueJs</title>
</head>
<body>
    <div id="app">

        <div v-bind:class="{status:status}">Hi there</div>
        <button v-on:click="status=!status">Click</button>
    </div>

    <div id="box">
        
        {{temp}}
        

        <button v-on:click="inc">+</button>
        <button v-on:click="dec">-</button>
        {{message}}

        <input type="text" v-model="text">
        {{text}}
        <h2 v-if="gate">Gate is open</h2>
        <h2 v-else-if="!gate">Gate is Closed</h2>
        <button v-on:click=gate=!gate>Open/Close</button>
        <p v-for="student in students">{{student}}</p>
        <p v-for="player in players">{{player.name}}  :  {{player.age}}</p>

    </div>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>